<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>News</servlet-name>
    <servlet-class>cn.jxust.News</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Military</servlet-name>
    <servlet-class>cn.jxust.Military</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Amusement</servlet-name>
    <servlet-class>cn.jxust.Amusement</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Sports</servlet-name>
    <servlet-class>cn.jxust.Sports</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Finance</servlet-name>
    <servlet-class>cn.jxust.Finance</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/news.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Military</servlet-name>
    <url-pattern>/military.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Amusement</servlet-name>
    <url-pattern>/amusement.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Sports</servlet-name>
    <url-pattern>/sports.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Finance</servlet-name>
    <url-pattern>/finance.action</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
